*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.small-font{
    font-size: 11px;
    /* font-weight:bolder; */
    color: white;
}
.medium-text{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.light-button{
    background-color: white;
    color: #2874f0;
    border: none;
    font-size: 14px;
    font-weight: 700;
}
header{
    background-color: #2874f0;
    height: 56px;
    min-width: 1070px;
}
nav{
    padding: 12px;
    height: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.logo{
    position:relative;
    /* display: none; */
    margin-bottom: 4.8px;

}

.logo .img img{
 width: 75;
 height: 20.3px;
}

.logo .plus {
    position: absolute;
    top: 15px;
    height: 15;
    width: 75;
    font-style: oblique;
}

.logo .plus img{
    height: 10px;
    width: 10px;
}

.plus .small-font span{
    color: #ffe500;
}

.search{
    align-self: left;
    display: flex;
    justify-content: left;
    /* width: 561px; */
    height: 56px;
    /* box-shadow: 0 0 10px #888; */
    align-items: center;
    /* margin-left: 0px !important; */
}
.search input{
    width: 28vw;
    height: 36px;
    border: none;
    padding: 5px 15px;
    
}

.search button{
border: none;
background-color: white;
text-align: center;
padding: 7px;
font-size: 20px;
color:#2874f0;
width: 42.34px;
height: 36px;
}

.button{
    position: relative;
}
.button button{
width: 121px;
height: 31px;
padding: 7px 10px;
box-shadow: 0 0 3px #888 inset;
}
 .button .dropdown{
position: absolute;
/* color: white; */
display: none;
width: 240px;
top:43px;
left:-55px;
font-size: 14px;
background-color: white;
box-shadow: 0px 0px 5px #999;
border-radius: 3px;
}
.button .dropdown .new-customer{
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: left; */
    padding: 20px;
    border-bottom: 0.5px solid #f1f1f1;
}
.dropdown .new-customer a{
margin-left: 30px;
text-decoration: none;
}
.cart{
    color: aliceblue;
}
.cart i{
transform: rotateY(180deg);
}

.button:hover .dropdown{
    display: block;
}
.dropdown .option{
    width: 100%;
    padding: 20px;
    color: #2874f0;
    border-bottom: 0.25px solid #f0f0f0;
}
.option i{
    padding-right: 10px;
}
.dropdown div{
    border-bottom: 0.5px solid #999;
}

.option:hover{
    cursor:pointer;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.more{
    position: relative;
}
.text{
    background: none;
    border: none;
}

.more .dropdown-1{
position: absolute;
display: none;
width: 300px;
top:38px;
left:-120px;
font-size: 14px;
background-color: white;
box-shadow: 0px 0px 5px #999;
border-radius: 3px;
}

.dropdown-1 .option{
    width: 100%;
    padding: 20px;
    color: #2874f0;
}
.dropdown-1 div{
    border-bottom: 0.5px solid #999;
}
.more:hover .dropdown-1{
    display: block;
}